//- layout.pug
doctype html 
html
  head
    title Rajjari Collection
    block scripts
    block style 
  body
    nav#navbar
       ul
            div#logo 
              
                | RJR 
            li #[a(href="/") Home]
            li #[a(href="/") New Arrivals]
            li #[a(href="/") Customized For You]
            li #[a(href="/") Sale]
            li #[a(href="/") About Us]
            li #[a(href="/contact") Contact us] 

    block content
    block foot
        
     